     <section id="confirmacion" class="columna-central">
      <h2>Confirme su solicitud</h2>

      <p>Se ha generado su solicitud con el siguiente folio</p>
      <p class="folio">{{ folio }}</p>

      <p>Se ha enviado un e-mail a <span class="amarillo">{{ email }}</span> para confirmar su solicitud. Por favor, revise su Bandeja de Entrada. De no encontrarlo, revise también su Bandeja de Correo No Deseado o Spam.</p>

      <p>Si no ha recibido la confirmación, comuniquese a nuestro Call-Center <span class="amarillo">+52-55-6585-6649</span>. Con gusto un ejecutivo le atenderá.</p>

      <p>Gracias por su preferencia.</p>

    </section>
