{% load staticfiles %}

<table width="100%" align="center" style="border-collapse: collapse; font-family: Arial; font-size: 16px; color: #212121; background: #212121;">
    <tr>
      <td>
        <table width="90%" align="center" style=" max-width: 650px;">
          <tr>
            <td style="background: #212121; padding: 15px;">
              <img src="{{ domain }}{% static 'img/logo-verifica@2x.png' %}" width="140"  alt="Verifica">
            </td>
            <td style="text-align:right; background: #212121; padding: 15px;">
              <img src="{{ domain }}{% static 'img/drivemee-logo.png' %}" width="160"  alt="Verifica">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table width="90%" align="center" style=" max-width: 650px; border-collapse: collapse; font-family: Arial; font-size: 14px; color: #4D4D4D;">
    <tr>
      <td colspan="2" style="padding: 30px 0 0; text-align: center">
        <h2>Confirme su solicitud</h2>
        <p>Se ha generado su solicitud con el siguiente folio</p>
        <p style="margin: 5px auto; text-align: center; font-size: 36px; color: #F3C219; border: 2px solid #F3C219; padding: 10px 20px; display:inline-block;">{{ folio }}</p>
        <p>Por favor, de clic al siguiente vínculo para confirmar su solicitud</p>
        <a href="{{ domain }}{% url 'drivemee:confirmar-servicio' token=confirmation_string %}" style="display: inline-block; margin-top: 15px; margin-bottom: 15px; background: #F3C219; color: #212121;  font-weight: normal;  text-align: center;  border: none;  font-size: 18px;  padding: 10px 20px;  -webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;  -webkit-transition: all 0.5s;  -moz-transition: all 0.5s;  transition: all 0.5s;  -webkit-appearance: none;  -moz-appearance: none; appearance: none; text-decoration: none;">Confirmar solicitud</a>

        <p>Si el botón no funciona, copie y pegue el siguiente vínculo en su navegador:</p>

        <p style="color: #F2880F">{{ domain }}{% url 'drivemee:confirmar-servicio' token=confirmation_string %}</p>
      </td>
    </tr>
  </table>

  <table width="100%" align="center" style="border-collapse: collapse; font-family: Arial; font-size: 14px; color: #4D4D4D;  margin-top:30px; text-align: center">
    <tr>
      <td>
        <table width="100%" align="center" style="border-top: 1px solid #ccc; max-width: 650px;">
          <tr>
            <td style="text-align: center; padding: 20px 0; font-size: 12px; color: #cccccc; line-height: 18px;">
              Este correo se ha enviado de forma automática, no responder.<br>
              DriveMee y Verifica son marcas registradas.<br>
              2015. Todos los derechos reservados 
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


