{% extends 'drivemee/base.html' %}

{% block content %}    
	<div class="container">
		<div class=" row aviso-privacidad">
			<div class="col-md-12">
			<h1>AVISO DE PRIVACIDAD</h1>


      <h2>A.  Identidad y domicilio del Responsable</h2>
      <p>En virtud de lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante, la “LFPD”) y resto de disposiciones aplicables, Mobizen S.A. de C.V. (en adelante “Mobizen”), con domicilio para oír y recibir notificaciones en Sonora 85, Interior 201, Colonia Roma Norte, Código Postal 06700, México, Distrito Federal; le informa de forma expresa:</p>

      <h2>B. Datos personales recabados y sometidos a tratamiento </h2>

      <p>Para el desarrollo de las finalidades descritas en el presente Aviso de Privacidad, recabamos las siguientes categorías de datos personales:</p>
      <ol>
        <li>Datos de identificación y de contacto;</li>
        <li>Datos patrimoniales y/o financieros;</li>
        <li>Datos de situación jurídica, y</li>
        <li>Otros datos personales: siniestros o multas.</li>
      </ol>

      <h2>C.  Tratamiento de datos personales sensibles</h2>

      <p>Para las finalidades indicadas en el presente Aviso de Privacidad, Mobizen no recaba datos personales considerados como sensibles por la LFPD, por lo que solicitamos que se abstenga de proporcionarlos a Mobizen.</p>

      <h2>D.  Finalidades del tratamiento</h2>
      <h4>a.  Finalidades originarias y necesarias</h4>

      <ol>
        <li>Gestión, control y administración de usuarios de la aplicación móvil “Verifica”<sup>®</sup> (usuarios).</li>
        <li>Prestación de los servicios electrónicos que han sido elegidos o aceptados por los usuarios y acceso a los contenidos que, en su caso, sean comercializados por Mobizen a través de Verifica<sup>®</sup>;</li>
        <li>En su caso, gestión y administración de solicitudes de usuarios registrados de “Verifica<sup>®</sup>”, para trasladar y presentar sus vehículos en “Verificentros” autorizados, para la tramitación de las verificaciones vehiculares reglamentarias.</li>
        <li>En su caso, gestión del pago de multas o derechos de tenencia que los usuarios registrados de “Verifica<sup>®</sup>” soliciten efectuar en su nombre.</li>
        <li>Atención a clientes;</li>
        <li>Envío de información y ofertas comerciales sobre productos y/o servicios comercializados por Mobizen, e información sobre actualizaciones de Verifica<sup>®</sup>;</li>
        <li>Estadística y registro histórico de usuarios.</li>
        </ol>

        <h4>b.  Finalidades adicionales</h4>

        <ol>
          <li>No existen</li>
        </ol>

        <h2>E.  Transferencias de datos personales</h2>

        <p>Sus datos personales pueden ser transferidos y tratados por personas distintas al Responsable en los siguientes supuestos: </p>

        <ol>
          <li>Sociedades controladoras, subsidiarias o afiliadas del Responsable, o a una sociedad matriz; con finalidades de resguardo centralizado de la información, control de altas y bajas, cambios relacionados con su contrato; así como para la realización de funciones de estadística y registro histórico de usuarios.</li>
          <li>Autoridades, organismos o entidades gubernamentales; en cumplimiento a las obligaciones contempladas en la legislación aplicable y/o en cumplimiento de requerimientos efectuados por las mismas.</li>
          <li>Personas físicas o jurídicas autorizadas para intervenir en la contratación de seguros (agentes de seguros); con el objeto de obtener cotizaciones a petición expresa del usuario de Verifica<sup>®</sup>.</li>
          <li>Personas físicas o jurídicas prestadores de servicios de asistencia o de gestoría; con el objeto de completar servicios vehiculares o el pago de multas o derechos, relacionados con obligaciones reglamentarias de vehículos automotores.</li>
        </ol>

         <h2>F.  Transferencias de datos personales. Consentimiento</h2>

        <p>Para las transferencias indicadas en los numerales 1 a 4 del apartado anterior, no se requiere su consentimiento de conformidad con el artículo 37 de la LFPD. </p>

        <p>Sus datos personales no serán transferidos a terceros sin su consentimiento, salvo las excepciones previstas en el artículo 37 de la LFPD y en todo caso cumpliendo las condiciones previstas por en el artículo 17 del Reglamento de la LFPD.</p>

        <h2>G.  Ejercicio de los derechos ARCO</h2>

        <p>En todos aquellos casos legalmente procedentes, usted podrá ejercer en todo momento sus derechos de Acceso, Rectificación, Cancelación y Oposición (ARCO) a través de los procedimientos que hemos implementado.</p>

        <p>La solicitud correspondiente deberá cumplir con los requisitos establecidos en la legislación vigente, mediante escrito dirigido a nuestro Departamento de Datos Personales, con domicilio en Sonora 85, Interior 201, Colonia Roma Norte, Código Postal 06700, México, Distrito Federal. La solicitud deberá contener y acompañar lo siguiente:</p>

        <ol type="I">
          <li>Su nombre y domicilio u otro medio para comunicarle la respuesta a su solicitud.</li>
          <li>Los documentos que acrediten su identidad o, en su caso, la representación legal.</li>
          <li>La descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los Derechos ARCO; y</li>
          <li>Cualquier otro elemento o documento que facilite la localización de los datos personales.</li>
        </ol>

        <p>Mobizen le comunicará, en un plazo máximo de veinte días hábiles, contados desde la fecha en que aquél reciba la solicitud correspondiente, la determinación adoptada. Si la solicitud resulta procedente, ésta se hará efectiva dentro de los quinces días hábiles siguientes a la fecha en que el Responsable comunique la respuesta. En caso de que la información proporcionada en su solicitud resulte errónea o insuficiente, o no se acompañen los documentos necesarios para acreditar su identidad o la representación legal correspondiente, Mobizen, dentro de los cinco días hábiles siguientes a la recepción de su solicitud, requerirá la subsanación de las deficiencias para poder dar trámite a la misma. En estos casos, usted contará con diez días hábiles para atender el requerimiento de subsanación, contados a partir del día siguiente en que hubiere recibido esta solicitud. La solicitud correspondiente se tendrá por no presentada si usted no responde dentro de dicho plazo.</p>

        <p>Alternativamente, usted podrá dirigir su solicitud a través de la dirección <a href="mailto:datospersonales@mobizen.com.mx">datospersonales@mobizen.com.mx</a>, cumpliendo con todos los requisitos anteriormente enumerados, estableciendo como Asunto de la comunicación “Derechos ARCO y/o Revocación del consentimiento”. Los plazos del procedimiento serán los mismos a los mencionados en este apartado. El uso de medios electrónicos para el ejercicio de los derechos ARCO autoriza a Mobizen para dar respuesta a la solicitud correspondiente a través del mismo medio, salvo que el propio titular indique otro medio de forma clara y expresa.</p>

        <p>Usted podrá obtener la información o datos personales solicitados a través de copias simples, documentos electrónicos en formatos convencionales (Word, PDF, etc.), o a través de cualquier otro medio legítimo que garantice y acredite el ejercicio efectivo del derecho solicitado.</p>

        <p>Usted será responsable de mantener actualizados sus datos personales en posesión de Mobizen. Por lo anterior, usted garantiza y responde, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los datos personales facilitados, y se compromete a mantenerlos debidamente actualizados, comunicando cualquier cambio a Mobizen.</p>

        <h2>H.  Revocación del consentimiento</h2>

        <p>Usted podrá revocar su consentimiento para el tratamiento de sus datos personales, sin efectos retroactivos, en todos aquellos casos en que dicha revocación no suponga la imposibilidad de cumplir obligaciones derivadas de una relación jurídica vigente entre usted y el Responsable.</p>

        <p>El procedimiento para la revocación del consentimiento, en su caso, será el mismo que el establecido en el apartado inmediato anterior para el ejercicio de los derechos ARCO.</p>

        <h2>I.  Limitaciones sobre el uso y divulgación de sus datos personales</h2>

        <p>Usted podrá limitar el uso o divulgación de sus datos personales dirigiendo la solicitud correspondiente a nuestro Responsable de Datos Personales. Los requisitos para acreditar su identidad, así como el procedimiento para atender su solicitud serán los mismos que los señalados en el apartado G) del presente Aviso de Privacidad (Ejercicio de los derechos ARCO).</p>

        <h2>J.  Medios automáticos para recabar datos personales.</h2>

        <p>Los servicios electrónicos brindados por Mobizen permiten recopilar, analizar y conservar información técnica relacionada con los hábitos de uso de los mismos, a través de tecnologías que permiten recabar esta información de forma automática en el momento mismo en que el usuario hace uso de nuestros servicios electrónicos. En determinados casos, Mobizen vincula esta información a usuarios específicos o cuentas personales. El Responsable se limita a generar y analizar estadísticas que permiten mejorar los servicios ofrecidos y, en su caso, diseñar otros nuevos.</p>

        <h2>K.  Modificaciones o actualizaciones al presente Aviso de Privacidad Integral</h2>

        <p>Mobizen podrá modificar, actualizar, extender o de cualquier otra forma cambiar el contenido y alcance del presente Aviso de Privacidad, en cualquier momento y bajo su completa discreción. En tales casos, publicaremos dichos cambios en el sitio web <a href="http://www.verifica.mx">www.verifica.mx</a>, Sección “Avisos de Privacidad”. También podrán comunicarse cambios al presente Aviso de Privacidad vía de correo electrónico, cuando dicho medio hubiese sido establecido como canal de comunicación entre usted y Mobizen, durante la vigencia de la relación jurídica. </p>

        <p>Fecha de última actualización: <br/>
            09 de octubre de 2015</p>
        </div>
			</div>

		</div>

{% endblock %}