{% extends "drivemee/base.html" %}

{% block content %}
	<div class="container">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center">
            <h1>Restablecimiento de contraseña</h1>
            <p>Hemos enviado un correo con instrucciones para restablecer tu contraseña, si es que existe una cuenta con la dirección que ingresaste.</p>
            
            <p>Si usted no recibe un correo electrónico, por favor, asegúrese de que ha introducido la dirección con la que se registró, y revise su carpeta de spam.
            </p>
        </div>
        <div class="col-md-3">
        </div>
	</div>
{% endblock %}
