{% extends "drivemee/base.html" %}

{% block content %}
	<div class="container">
        <div class="col-md-12 text-center">
            {% if form.errors %}
            <p class="login-error">Escribe una dirección de correo válida.</p>
            {% endif %}
            <form class="login-form" method="post" action="{% url 'django.contrib.auth.views.password_reset' %}">
            {% csrf_token %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="form-group actions">
                    <input type="submit" value="Restablecer" class="btn btn-default btn-amarillo" /><br>
                </div>
            </form>
        </div>
	</div>
{% endblock %}
